@media all {
    .block-views-blockshouyelunbotupian-block-1 {
        .view-content {
            margin-bottom: -35px;
        }
        .views-slideshow-controls-bottom {
            position: relative;
            top: -45px;
            z-index: 100;
        }
    }
    .block-views-blockshouyelunbotupian-block-mobile {
        display: none;
    }
}

@media all and (max-width: 768px) {
    .block-views-blockshouyelunbotupian-block-mobile {
        display: block;
    }
    .block-views-blockshouyelunbotupian-block-1 {
        display: none;
    }    
}