@media all {
    #block-sizheng-branding {
        width: 27%;
        margin: 0;
        .site-branding__logo {
            img {
                position: relative;
                left: -30px;
            }
        }
        .site-branding__text {
            display: none !important;
        }
    }
}

@media all and (max-width: 768px) {
    #block-sizheng-branding {
        float: left;
        background-color: white;
        width: 25%;
        padding-top: 10px;
        .site-branding__logo {
            margin-left: 5px;
            img {
                position: relative;
                left: 0px;
            }
        }
    }        
}